*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	min-height: 100vh;
	position: relative;
	display: grid;
	place-items: center;
}

header::after {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.video-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -2;

}

.title {
	color: white;
	font-size: 48px;
	font-weight: bold;
}

/*Pre-loader*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
  display: none;
}

/*Switch Button*/
.switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-around;
  border: 3px solid #2D869C;
  border-radius: 5px;
}


.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  color: #2D869C;
}


.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  background-color: #2D869C;
  transition: 0.5s;
}

.slide .switch {
  left: 50%;
}