*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
}


img {
	max-width: 100;
}

/*Navbar*/

.nav-list {
	display: grid;
	grid-template-columns: 3fr 5fr 1fr;
	grid-gap: 10px
}

.logo {
	height: 60px;
	width: 120px;
}

#nav a {
	list-style-type: none;
	padding: 0px 12px;
	font-size: 24px;
	font-weight: bold;
}

#nav a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

#nav a:hover::after {
  width: 100%;
}

ul {
	display: flex;
	align-items: center;
}

.toggle {
	display: none;
}

/*Body*/

#resume-page {
	box-shadow: 3px 3px 5px black;
	background-color: #EDE9E8;
}

#mainName {
	font-size: 30px;
}

.base-title {
	font-size: 20px;
}

.side-title {
	font-size: 25px;
}