*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	background: #5B474A;
	color : #323232;
}


img {
	max-width: 100;
}

/*Navbar*/

.nav-list {
	display: grid;
	grid-template-columns: 3fr 5fr 1fr;
	grid-gap: 10px;
}

.nav-center {
	background-color: white;
}

.logo {
	height: 60px;
	width: 120px;
}

li {
	list-style-type: none;
	padding: 0px 12px;
	font-size: 24px;
	font-weight: bold;
}

li::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

li:hover::after {
  width: 100%;
}

ul {
	display: flex;
	align-items: center;
}

.toggle {
	display: none;
}

/*Responsiveness of Navbar*/

@media only screen and (max-width: 768px) {
	.nav-list {
		display: flex;
		flex-direction: column;
	}

	.toggle {
		display: block;
		position: absolute;
		right: 10px;
	}

	.nav-toggle {
		height: 35px;
		width: 35px;
		background-color: white;
		border-radius: 5px;
		margin-top: 10px;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.links {
		height: 0;
		overflow: hidden;
		transition: 0.5s;
	}

	.show-links {
		transition: 0.5s;
		height: 15rem;
		display:flex;
	}

}

/* Main Page*/
#icon {
	fill: currentColor;
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	padding-right: 5px;
}

a {
	color: #323232;
	text-decoration: none;
}

.link-id:hover {
	text-decoration: underline;
}

.container {
	max-width: 960px;
	margin: 40px auto;
	padding: 32px;
	background: white;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 20px;
	padding: 24px 0;
	border-bottom: 1px solid lightgrey;	
}

section:last-child {
	border-bottom: none;
}

.section-title {
	font-weight: bold;
	font-size: 18px;
}


/* Main Page*/

img.avatar {
	width: 130px;
}

.my-name {
	font-size: 48px;
	line-height: 1;
}

.my-title {
	font-size: 24px;
	font-weight: 300;
	color: #236fb2;
}

.links {
	display: flex;
	margin: 10px 0 20px 0;
}

.link-items {
	display: flex;
	align-items: center;
	flex: 1;
}

/* Experience*/

.job {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid lightgrey;
}

.job:last-child {
	border-bottom: none;
}

.job.title-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 18px;
}

.job-company {
	font-weight: bold;
	line-height: 1.2;
}

/*Skills*/

.skills-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 24px;
}

.skills-container ul {
	margin-left: 20px;
	list-style-type: disc;
}

/*References*/

.reference {
	font-size: 20px;
	font-weight: bold;
}