*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

/*Navbar*/

.nav-list {
	display: grid;
	grid-template-columns: 3fr 5fr 1fr;
	grid-gap: 10px
}

.logo {
	height: 60px;
	width: 120px;
}

li {
	list-style-type: none;
	padding: 0px 12px;
	font-size: 24px;
	font-weight: bold;
}

li::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

li:hover::after {
  width: 100%;
}

ul {
	display: flex;
	align-items: center;
}

.toggle {
	display: none;
}
