*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	color: black;		
}


/*Navbar*/

.nav-list {
	display: grid;
	grid-template-columns: 3fr 5fr 1fr;
	grid-gap: 10px
}

.logo {
	height: 60px;
	width: 120px;
}

#nav a {
	list-style-type: none;
	padding: 0px 12px;
	font-size: 24px;
	font-weight: bold;
}

#nav a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

#nav a:hover::after {
  width: 100%;
}

ul {
	display: flex;
	align-items: center;
}

.toggle {
	display: none;
}


/*Section*/

#mainName {
	font-size: 24px;
}

.profession {
	font-size: 18px;
}